{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
