.Resizeable {
  position: relative;
}

.Resizeable__handle {
  position: absolute;
  background: transparent;
}

.Resizeable__ghost {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #000;
  box-sizing: border-box;
}